<img class="burger-logo" src="/assets/img/burger.png">
<h1 class="header">Burger Time!</h1>
<div class="burger-list">
  <div class="burger-table">
    <h2>Burgers to devour:</h2>
    {{#each burger_data}}
        <h4>
          {{#unless this.devoured}}
            {{this.id}}: {{this.burger_name}}
            <button id="eat-it" data-id="{{this.id}}" type="submit">Devour It!</button>
          {{/unless}}
        </h4>
    {{/each}}
  </div>
  <div class="burgers-eaten">
    <h2>Burgers you have eaten:</h2>
    {{#each burger_data}}
      <h4>
        {{#if devoured}}
          {{this.id}}: {{this.burger_name}}
        {{/if}}
      </h4>
    {{/each}}
  </div>
</div>

<form class="create-form">
<h2>Add a burger</h2>
  <div class="form-group">
    <label for="burger">Burger:</label>
    <input type="text" id="burger" name="name">
    <button id="submit" type="submit">Add Burger</button>
  </div>